<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/normalize.css">
  	<link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
  	<div class="head">
        <div class="logo">
          <img src="/images/yeah.png" alt="logo">
        </div>
    </div>
   	<div class="form-wrapper">
   		<form action="/register" method="post" placeholder="账号" name="username">
	   		<div class="wrapper">
	   			<input autocomplete="false" disableautocomplete type="text" placeholder="账号" name="username">	
	   		</div>
	   		<div class="wrapper">
	   			<input autocomplete="false" disableautocomplete type="password" placeholder="密码" name="password">
	   		</div>
		   	<div class="button-wrapper">
		   		<button type="submit">登录</button>
		   	</div>
	   	</form>
   	</div>
  </body>
</html>
